* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: rgb(0, 52, 89);
}
body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  background: var(--neutral00);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
