* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: rgb(0, 52, 89);
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  background: rgb(48, 44, 66);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Buttons */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  padding: 17px 38px;
  text-wrap: nowrap;
  border-radius: 40px;
  background: linear-gradient(
    90deg,
    rgb(129, 118, 175),
    rgb(192, 183, 232) 100%
  );
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0%;

  cursor: pointer;
}

.btn__alternative {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

/* Logo */

.logo {
  display: none;
}

.logo__mobile {
  max-width: max-content;
  display: inline-block;
  overflow: visible;
}

/* Hamburger Button */

.hamburger__button {
  display: flex;
  flex-direction: column;
  gap: 7.43px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 27.34px 0 6.55px;
  z-index: 1000;
}

.hamburger__button .hamburger__line {
  width: 33px;
  height: 3.71px;
  background: linear-gradient(
    90deg,
    rgb(192, 183, 232),
    rgb(129, 118, 175) 109.211%
  );
  border-radius: 40px;
  transition: 0.5s;
}

.hamburger__button.menu-open .hamburger__line {
  background: #fff;
}

.hamburger__button .hamburger__line__middle {
  width: 24px;
}

/* Mobile Menu */

.mobile__menu {
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(
    90deg,
    rgb(129, 118, 175),
    rgb(192, 183, 232) 100%
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile__menu.active {
  right: 0;
}

.mobile__menu ul {
  margin-top: 132px;
  padding-top: 26px;
  border-top: 2px solid #fff;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

.mobile__menu ul li {
  width: 100%;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 26px;
}

.mobile__menu ul li a {
  color: var(--dark-blue-primary);
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.main {
  padding: 25.66px 20px 0;
  width: 100vw;
  height: 100%;
  background: url(../images/hero-background.png) no-repeat;
  background-size: cover;
}

.main .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .menu .header__buttons {
  display: none;
}

.navbar {
  display: none;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 0;
}

.hero .hero__img {
  width: 100%;
}

.hero .hero__text .hero__text__gradient {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  background: linear-gradient(45deg, rgb(192, 183, 232), rgb(129, 118, 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .hero__text .hero__text__white {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.hero .hero__text .first__line {
  margin: 30px 0 8px;
}

.hero__button {
  width: 292px;
  margin-top: 36px;
}

/* Slider */

.slider {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 53px 22px;
}

.slides {
  position: relative;
  width: 100%;
  height: 109px;
  border-radius: 90px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 53px 52px 59px;
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  background: radial-gradient(
    2899.08% 50.16% at 50% 54%,
    rgba(58, 52, 86, 0.95),
    rgb(33, 30, 46) 100%
  );
}

.slide.displaySlide {
  opacity: 1;
  z-index: 1;
  animation: slideIn 1s forwards;
}

.slide.slideOut {
  z-index: 2;
  animation: slideOut 1s forwards;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.slider__button__prev {
  left: 7%;
}

.slider__button__next {
  right: 7%;
}

.slider__button img {
  width: 26px;
  height: 26px;
}

.slider .slide .slide__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* ___________________________________________________________________ */

@media (min-width: 768px) {
  .logo {
    max-width: max-content;
    display: inline-block;
    overflow: visible;
  }

  .logo__mobile {
    display: none;
  }
  .main {
    padding: 50px 84px 90px;
  }

  .main .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main .menu .navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 41px;
    align-items: center;
  }
  .main .menu .navbar .nav__buttons {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .main .menu .header__buttons {
    display: flex;
    justify-content: space-between;
    gap: 38px;
  }
}

/* Fonts */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

/* Animations */

/* Slide in from right */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Slide out to left */
@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
